{% extends 'base.html.twig' %}

{% block title %}Gestion des salariés!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="container col-10">
    <h1 class="mb-3">Gestion des salariés</h1>
    <h5 class="mb-5 text-danger">Nombre de salariés enregistrés : {{nbUser}}</h5>

    <div class="mb-5">
        <span style="background-color:darkviolet" class="h3 text-white font-weight-bold mr-3 px-3">Administration</span>
        <span class="h3 text-white bg-dark font-weight-bold mr-3 px-3">Direction</span>
        <span class="h3 text-white bg-primary font-weight-bold mr-3 px-3">Recrutement</span>
        <span class="h3 bg-info text-white font-weight-bold mr-3 px-3">Informatique</span>
        <span class="h3 bg-success text-white font-weight-bold px-3">Comptabilité</span>
    </div>


    <a class="btn btn-success" href="{{ path('admin_add') }}">Ajouter un salarié</a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Mail</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Secteur</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for user in users %}

            {% if user.secteur == 'Direction' %}
            <tr class="bg-dark">
                {% elseif user.secteur == 'Recrutement' %}
            <tr class="bg-primary">
                {% elseif user.secteur == 'Informatique' %}
            <tr class="bg-info">
                {% elseif user.secteur == 'Comptabilité' %}
            <tr class="bg-success">
                {% else %}
            <tr style="background-color:darkviolet">
                {% endif %}

                <td>{{user.email}}</td>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.secteur}}</td>
                <td>
                    <img width="150px" height="auto" src="{{ asset('images/upload/' ~ user.photo)}}">
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path('update_user', {'user' : user.id }) }}">Editer</a>

                    {# Bouton de supression avec alerte de confirmation ! #}
                    <!-- Le compte administrateur ne peux pas être supprimé -->
                    {% if user.secteur != 'Administration' %}
                    <a class="btn btn-danger" href="{{ path('delete_user', {'user': user.id }) }}"
                        onclick="return confirm('Êtes vous sure de bien vouloir supprimer ?')">Supprimer</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}